.add-recommendation {
  width: 60%;
  margin: 0 auto; /* Center the form horizontally */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.add-recommendation-header {
  width: 100%; /* Ensure the header spans the full width */
  text-align: center; /* Center the text within the header */
}


.form-group {
  margin-bottom: 15px; /* Reduced margin for better spacing */
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  width: calc(100% - 16px); /* Adjusted width to account for padding and border */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-recommendation button[type="submit"] {
  width: 100%; /* Adjusted button width for better responsiveness */
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.add-recommendation button[type="submit"]:hover {
  background-color: #0056b3;
}
