.restaurant-list {
  margin: 0 auto;
  width: 70%; 
}

.restaurant-list ul {
  list-style: none; 
  padding: 0; 
}

.restaurant-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px; 
  margin-bottom: 10px; 
}

.restaurant-item h3 {
  margin-top: 0;
  margin-bottom: 5px; 
  font-size: 16px; 
}

.restaurant-item p {
  margin: 3px 0; 
  font-size: 14px; 
}

.restaurant-item img {
  max-width: 100%; 
  height: auto; 
  margin-bottom: 5px; 
}

.restaurant-item a {
  color: #007bff;
  text-decoration: none;
}

.restaurant-item a:hover {
  text-decoration: underline;
}

.restaurant-item button,
.restaurant-item .edit-link {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 5px 10px; 
  margin-right: 5px; 
  border-radius: 3px; 
  font-size: 12px; 
  cursor: pointer;
}

.restaurant-item button:hover,
.restaurant-item .edit-link:hover {
  background-color: #0056b3;
}

.restaurant-item button.delete-btn {
  background-color: #dc3545;
}

.restaurant-item button.delete-btn:hover {
  background-color: #bd2130;
}

.add-recommendation-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px; 
  margin-bottom: 10px; 
  font-size: 14px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.add-recommendation-button:hover {
  background-color: #0056b3;
}

.link {
  color: #007bff; 
  text-decoration: none; 
}

@media only screen and (min-width: 768px) {
  .restaurant-item {
    padding: 15px; 
    margin-bottom: 15px; 
  }

  .restaurant-item h3 {
    font-size: 18px;
  }

  .restaurant-item p {
    font-size: 16px;
  }

  .add-recommendation-button {
    padding: 10px 20px; 
    margin-bottom: 0; 
  }
}
