.footer {
  background-color: darkgrey;
  color: white;
  padding: 50px 0;
  margin-top: 10px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-bottom: 5px;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1 1 auto; 
  margin-right: 20px;
}

.footer-section h2 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
  display: flex; 
}

.footer-section ul li {
  margin-right: 20px; 
}

.footer-section ul li:last-child {
  margin-right: 0; 
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}