/* App.css */
:root {
  --primary-color: #0d3f67; /* Define primary color */
  --secondary-color: #f5ff00; /* Define secondary color */
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f7f7f7; /* Light gray background */
  color: #333; /* Dark gray text color */
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  width: 100%;
  margin: 0 auto; 
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background-color: var(--secondary-color);
  color: black; /* White text color */
  padding: 20px 0;
  text-align: center;
}

.header h1 {
  font-size: 2.5rem; /* Large font size for main heading */
}

.card {
  background-color: #fff; /* White background for cards */
  border-radius: 1rem; /* Rounded corners for cards */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow for cards */
  padding: 20px;
  margin-bottom: 20px; /* Add margin between cards */
}

.btn {
  background-color: var(--primary-color); /* Primary color button background */
  color: #fff; /* White text color for buttons */
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.btn:hover {
  background-color: #0a2c49; /* Darker blue on hover */
}

/* Add margin and line-height for paragraphs */
p {
  margin-bottom: 1rem; /* Add margin between paragraphs */
  line-height: 1.6; /* Increase line height for better readability */
}
